@import "tailwindcss";

.form{
  @apply w-1/4 flex flex-col text-center bg-slate-600 p-4 rounded-2xl m-4 items-center;
}

.formInput{
  @apply p-1 mb-4 mt-2 bg-white rounded-2xl;
}

.formLabel{
  @apply font-bold;
}

.formButton{
  @apply bg-green-500 rounded-2xl w-1/3 m-2 font-bold;
}
.formButton:hover{
  @apply hover:bg-green-700;
}

.h1{
  @apply font-bold text-3xl m-4 text-center;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
